<h1>Add Sale</h1>

<div class="row" style="margin:0;">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Medicine Name</label>
            <!--<pre>Model: {{asyncSelected | json}}</pre>-->
            <input type="text" ng-model="sale.medicineName" placeholder="Locations loaded via $http" uib-typeahead="data.medicineName for data in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" typeahead-on-select="onMedSelect($item, $model, $label, $event)">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Available</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.quantity">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control col-sm-3" ng-model="sale.currQuantity" ng-change="calculateTotal(sale.currQuantity)">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Dosage</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.dosage">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Exp Date</label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sale.expDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Selling Price</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.selPrice">
        </div>
    </div>

</div>
<div class="row" style="margin:0;">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Ammount</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.amount">
        </div>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" ng-click="addToTable(sale)">Add</button>
    </div>
</div>
<br/>
<div class="row" style="margin:0;">
    <div class="col-sm-9">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Dosage</th>
                        <th>Unit Price</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="table in tableData track by $index">
                        <td>{{table.medicineName}}</td>
                        <td>
                            <span ng-if="!showEditFlag">{{table.currQuantity}}</span>
                            <span ng-if="showEditFlag"><input type="number" class="form-control col-sm-3" ng-model="table.currQuantity" ng-change="calculateTotal(sale.currQuantity)"></span>
                        
                        </td>
                        <td>{{table.dosage}}</td>
                        <td>{{table.selPrice}}</td>
                        <td>{{table.amount}}</td>
                        <td> <span class="glyphicon glyphicon-pencil" ng-if="!showEditFlag" ng-click="showEdit()"></span>
                             <span class="glyphicon glyphicon-floppy-disk" ng-if="showEditFlag" ng-click="saveEditedData(table)"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
		<div class="form-group">
            <label>Total Amount</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.totalAmount">
        </div>
		<div class="form-group">
            <label>Discount</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.discount">
        </div>
		<div class="form-group">
            <label>Grand Amount</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.grandAmount">
        </div>
		<div class="form-group">
            <label>Paid</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.paid">
        </div>
		<div class="form-group">
            <label>Change</label>
            <input type="text" class="form-control col-sm-3" ng-model="sale.change">
        </div>
    </div>
</div>
