<h1>View Suppliers</h1>
<a href="/#/add-supplier" class="btn btn-primary">Add Supplier</a>
<br>
<br>
<table class="table table-striped table-hover table-bordered">
	<thead>
		<th>Supplier Name</th>
		<th>Company Name</th>
		<th>Contact Number</th>
		<th>Email</th>
		<th>DL No.</th>
		<th>GSTIN No.</th>
		<th>Action</th>
	</thead>
	<tbody>
		<tr ng-repeat="supplier in suppliers">
			<td>{{supplier.supplierName}}</td>
			<td>{{supplier.companyName}}</td>
			<td>{{supplier.contactNumber}}</td>
			<td>{{supplier.email}}</td>
			<td>{{supplier.dlNumber}}</td>
			<td>{{supplier.gstin}}</td>
			<td><a href="/#/modify-supplier/{{supplier.id}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;<span class="glyphicon glyphicon-trash" ng-click="deleteSupplier(supplier.id)"></span></td>
		</tr>
	</tbody>
</table>